.container {
  background-color: var(--verde-claro);
  padding: 0 0 5em;
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px 200px;
}

.details h3 {
  color: var(--verde);
  font-weight: 500;
}

.details p {
  color: var(--verde-oliva);
}

.imagem {
  width: 400px;
  max-height: 500px;
  border-radius: 20px;
}

.texto {
  width: 800px;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 2em;
  border-radius: 20px;
  backdrop-filter: blur(10px);
}

.botao {
  background-color: var(--verde-oliva);
  border: none;
  padding: 1em 2em;
  border-radius: 18px;
  color: var(--verde-claro);
  transition: background-color 0.3s ease-in-out;
}

.botao:hover {
  background-color: var(--verde);
}

@media (max-width: 1024px) and (min-width: 768px) {
  .details {
    padding: 2em 3em;
    gap: 1em;
  }

  .details h3 {
    font-size: 2em;
  }

  .details p {
    color: var(--verde-oliva);
  }
}

@media (max-width: 768px) {
  .details {
    flex-direction: column-reverse;
    align-items: center;
    gap: 2em;
    padding: 1em;
  }

  .texto {
    width: 100%;
  }

  .imagem {
    width: 85vw;
  }

  .details h3 {
    font-size: 2em;
  }

  .details p {
    font-size: 1em;
  }
}
