.container {
  background-color: var(--verde);
  color: var(--verde-claro);
}

.container h2 {
  font-family: var(--fonte-secundaria);
  font-size: 4em;
  margin: 0;
}

.conteudo {
  display: flex;
  justify-content: space-around;
  padding: 2em 15vw;
}

.conteudo h5 {
  font-size: 1.2em;
  padding-bottom: 0.5em;
}

.links {
  display: flex;
  flex-direction: column;
}

.link {
  text-decoration: none;
  color: var(--verde-claro);
  padding-bottom: 1em;
}

.sociais {
  display: flex;
  gap: 1em;
  font-size: 1.5em;
}

.sociais a,
.git {
  color: var(--verde-oliva);
  text-decoration: none;
}

.info {
  display: flex;
  justify-content: space-around;
  flex: 1;
}

.contato {
  display: flex;
  align-items: center;
  gap: 1em;
  padding-bottom: 1.5em;
}

.direitos {
  border-top: 1px solid var(--verde-claro);
  display: flex;
  justify-content: center;
  padding: 2em 0 1em;
}

/* Tablet */
@media (max-width: 1024px) and (min-width: 768px) {
  .info {
    justify-content: space-between;
  }

  .conteudo {
    padding: 2em 3em;
    justify-content: start;
    gap: 7em;
  }

  .container h2 {
    font-size: 3.5em;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .conteudo {
    flex-direction: column;
    padding: 2em 1em;
  }

  .container h2 {
    font-size: 3.5em;
  }

  .conteudo h5 {
    font-size: 1em;
  }

  .info {
    padding-top: 2.5em;
  }

  .sociais {
    gap: 1.5em;
  }

  .direitos {
    padding: 2em 1em;
    text-align: center;
  }
}
