.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--verde-oliva);
  margin: 0 18em;
  border-radius: 20px;
  padding: 2em 0;
  margin-bottom: 5em;
}

/* Formulário */
.form {
  background-color: var(--verde-oliva);
  width: 100%;
  padding: 1em;
  border-radius: 10px;
}

/* Campos de entrada */
.input,
.textArea {
  background-color: var(--branco);
  border: 1px solid var(--verde);
  border-radius: 10px;
  padding: 0.5em;
}

/* Botão */
.botao {
  background-color: var(--verde);
  color: var(--verde-claro);
  padding: 0.5em;
  margin-top: 1em;
  border: 1px solid var(--verde);
  border-radius: 10px;
  transition: background-color 0.3s ease-in-out;
}

.botao:hover {
  background-color: var(--verde-oliva);
  color: var(--verde);
  border: 1px solid var(--verde);
}

/* Responsivo: Tablet */
@media (max-width: 1024px) and (min-width: 768px) {
  .container {
    margin: 4em 2em;
  }
}

/* Responsivo: Mobile */
@media (max-width: 768px) {
  .container {
    margin: 0 1em 2em 1em;
  }

  .container h3 {
    font-size: 2em;
  }
}
