.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 6em 200px;
  background-color: var(--verde);
}

.conteudo {
  display: flex;
  justify-content: space-around;
  padding-bottom: 5em;
}

.info {
  padding: 0 3em;
}

.container h3 {
  font-family: var(--fonte-secundaria);
  font-size: 50px;
  line-height: 125%;
  color: var(--verde-oliva);
}

.container p {
  font-size: 22px;
  color: var(--verde-claro);
  line-height: 150%;
}

.imagem {
  width: 1210px;
  height: 541px;
  overflow: hidden;
  border-radius: 100px;
  position: relative;
}

.imagem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
  transition: transform 0.3s ease;
}

.botao {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1em 1.5em;
  background-color: var(--cinza);
  border-radius: 50%;
  color: var(--verde);
  border: none;
  cursor: pointer;
  z-index: 1;
}

.bannerBottom {
  height: 300px;
  background-image: url("/banner-bottom.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 30% 90%;
}

.overlay {
  background-color: rgba(0, 56, 45, 0.4);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Responsivo para tablets */
@media (max-width: 1024px) and (min-width: 768px) {
  .container {
    padding: 4em 4em;
  }

  .container h3 {
    font-size: 2.5em;
  }

  .conteudo {
    padding-bottom: 2em;
  }

  .info {
    padding: 0;
  }

  .imagem {
    width: 100%;
  }
}

/* Responsivo para celulares */
@media (max-width: 768px) {
  .container {
    padding: 3em 1em;
  }

  .container h3 {
    font-size: 1.5em;
  }

  .container p {
    font-size: 1em;
  }

  .conteudo {
    padding-bottom: 2em;
  }

  .info {
    padding: 0;
  }

  .imagem {
    max-width: 100%;
    border-radius: 50px;
  }
}
