.container {
  background-image: url("/hero.jpg"); /* substitua com o caminho da imagem */
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  background-color: rgba(
    0,
    56,
    45,
    0.6
  ); /* Verde esmeralda escuro com transparência */
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  text-align: center;
  color: #fff;
  padding: 2rem;
  max-width: 100vw;
  box-sizing: border-box;
}

.titulo {
  font-size: 4em;
  font-family: var(--fonte-terciaria);
  font-weight: 300;
  flex-wrap: wrap;
}

.subtitulo {
  font-size: 1.5em;
  font-weight: 300;
  text-align: center;
}

/* Botões */
.botao {
  font-family: var(--fonte-terciaria);
  background-color: var(--verde);
  border: none;
  color: var(--verde-claro);
  padding: 0.75rem 1.5rem;
  font-size: 1.2rem;
  border-radius: 1rem;
  transition: background-color 0.3s ease;
  box-shadow: 0px 6px 10px rgba(255, 255, 255, 0.3);
}

.botao:hover {
  background-color: var(--verde-oliva);
}

/* Media Queries */
@media (max-width: 1024px) and (min-width: 768px) {
  .titulo {
    font-size: 3em;
    padding: 0em;
  }

  .subtitulo {
    font-size: 1.5em;
    padding: 0 2em;
  }
}

@media (max-width: 768px) {
  .titulo {
    font-size: 2em;
  }

  .subtitulo {
    font-size: 1em;
  }
}
