:root {
  --fonte-principal: "MontSerrat", sans-serif;
  --fonte-secundaria: "Cinzel", serif;
  --fonte-terciaria: "Cormorant Garamond", serif;
  --cinza: #f1f1f1;
  --branco: #ffffff;
  --verde: #00382d;
  --verde-oliva: #a3b18a;
  --verde-claro: #dde6d1;
  --caramelo-claro: #c69c6d;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--fonte-principal);
  font-size: 18px;
  color: var(--branco);
  background-color: var(--verde-claro);
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: var(--verde-oliva);
  background-color: var(--verde);
  border-radius: 10px;
}

h1 {
  font-family: var(--fonte-secundaria);
}

.navbar-nav .nav-link {
  font-family: "MontSerrat", serif;
  text-transform: uppercase;
}

.btn-close {
  --bs-btn-close-color: #000;
  --bs-btn-close-bg: ;
}

@media (max-width: 768px) {
  .navbar-nav .nav-link {
    padding: 0.5em 1em;
  }
}
