.container {
  padding: 3em 5em;
}

.imagem {
  width: 450px;
  height: 500px;
  transition: 0.3s ease-in-out;
  border-radius: 20px;
}

.card {
  background-color: var(--verde-claro);
  padding: 5em 6em;
}

.botao {
  border-radius: 50%;
  color: var(--verde);
  background-color: var(--verde-claro);
  border: none;
  padding-right: 0.5em;
}

/* Media query para tablets (768px - 1024px) */
@media (max-width: 1024px) and (min-width: 768px) {
  .imagem {
    width: 350px;
    height: 450px;
  }
}

/* Media query para mobile (<768px) */
@media (max-width: 768px) {
  .card {
    padding: 0;
  }

  .imagem {
    width: 100%;
    height: 450px;
    max-width: 100%;
  }
}
